<!DOCTYPE html>
<html lang="en">
<head>
    <!--    <meta charset="UTF-8">
    <meta http-equiv="refresh"
          content="0;URL='mainscreen'"> -->

    <title>All About JR's Computers</title>
</head>
<body>
<h2>Serving our community since yesterday!</h2>
    <p>JR's computers has proudly served our community since 9/18/23 (last month). Our computer parts and prebuilt PC's
        are top-notch, whether sourced in-house or from a curated list of external vendors. </p>
<h3>Our prices are so low, they seem made-up!</h3>
<h2>Now go buy something!</h2>

 <a href="http://localhost:8080/">Link
    to Main Screen</a>

</body>
</html>